.certificates {
    padding: 0 3rem 0 3rem;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
    flex-direction: column;
    gap: 2rem;
    position: relative;
}

.certificates_heading {
    align-self: start;
}

.certificates_heading>* {
    font-size: 2rem;
    font-weight: bold;
}

.certificates_heading span:nth-of-type(2) {

    color: var(--orange);
}

.certificates_blur1 {
    left: 38rem;
    top: 16rem;
}

.certificates_blur2 {
    left: 9rem;
    top: 0rem;
}

.certificates_slider {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 24rem;
    height: 15rem;
    padding: 0rem;
    background: rgba(255, 255, 255, 0.26);
    border: 7px solid var(--blueCard);
    box-shadow: var(--boxShadow);
    border-radius: 20px;
}


.certificates_slider>a {

    cursor: pointer;
    width: 100%;
    height: 80%;
}

.certificates_slider>a>img {

    cursor: pointer;
    width: 100%;
    height: 100%;
}

.certificates_description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--gray);
    gap: 2rem;
    height: 20%;
}

.certificates_description span:nth-of-type(2)>a {

    cursor: pointer;
    text-decoration: none;
    color: orange;
}

.certificates_slider>span {
    color: var(--gray);
}

.certificates .swiper {

    width: 100%;
    height: 70%;
}

.certificates .swiper-slide {

    display: flex;
    align-items: center;
    justify-content: center;
}

.certificates .swiper-pagination-bullet-active {

    background: var(--orange);
}



@media screen and (max-width: 480px) {

    .certificates {
        padding: 0.5rem;
        height: 70vh;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .certificates_heading>* {
        font-size: 1.5rem;
    }

    .certificates_description {
        font-size: 14px;
        color: var(--gray);
        gap: 2rem;
        height: 20%;
    }

    .certificates_description span {
        font-size: 14px;
    }

    .certificates_description span:nth-of-type(2)>a {
        font-size: 14px;
    }


}